<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="sudoku" class="tab-content"></div>
    <div id="board-container">
        <canvas id="board" width="4000" height="4000"></canvas>
    </div>
    <div id="controls">
        <button id="solve">Solve</button>
        <button id="clear">Clear</button>
        <button id="new">New</button>
    </div>
    <div id="information">

    </div>
    <!-- <script src="sudoku.js"></script> -->
    <script src="script.js" type="module"></script>
</body>
</html>